.products {
  margin-top: 140px;
  position: relative;

  &::before {
    position: absolute;
    content: "IN HAND";
    pointer-events: none;
    left: 0;
    bottom: -160px;
    font-weight: 400;
    font-size: 250px;
    color: rgba(232, 232, 232, 0.02);
  }

  &__header {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    max-width: 770px;
  }

  &__link {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .products {
    &__title {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .products {
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .products {
    &::before {
      font-size: 100px;
      bottom: 0;
    }

    &__header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .products {
    margin-top: 50px;

    &__link {
      margin-top: 40px;
    }
  }
}
